S3method(plot,ddsPLS)
S3method(predict,ddsPLS)
S3method(print,ddsPLS)
S3method(summary,ddsPLS)
export(ddsPLS)
export(ddsPLS_App)
importFrom(Rcpp, evalCpp)
importFrom(foreach,"%do%")
importFrom(foreach,"%dopar%")
importFrom("graphics", "abline", "axis", "barplot", "image", "legend","matplot",
           "par", "points", "text", "title")
importFrom("stats", "cor", "cov", "density", "predict", "rnorm", "sd","var")
importFrom("utils", "head", "read.csv")
importFrom("RColorBrewer", "brewer.pal")
importFrom("shiny","actionButton","br","checkboxInput","eventReactive","fileInput","fluidPage","h2","h3","icon","mainPanel","navbarPage","numericInput","plotOutput","radioButtons","reactive","renderPlot","renderPrint","renderTable","renderText","req","safeError","selectInput","shinyApp","sidebarLayout","sidebarPanel","tabPanel","tableOutput","tabsetPanel","tags","textInput","textOutput","titlePanel","updateSelectInput","verbatimTextOutput")
importFrom(graphics,layout)
importFrom(foreach,foreach)
importFrom(parallel,makeCluster)
importFrom(parallel, stopCluster)
importFrom(doParallel, registerDoParallel)
useDynLib(ddsPLS)
