export(ddsPLS)
export(ddsPLS_App)
S3method(plot, ddsPLS)
S3method(predict, ddsPLS)
S3method(summary, ddsPLS)
S3method(print, ddsPLS)
useDynLib(ddsPLS, .registration=TRUE)
importFrom(Rcpp,evalCpp)
importFrom(parallel,makeCluster,stopCluster)
importFrom(doParallel,registerDoParallel)
importFrom(foreach,"%dopar%","%do%",foreach)
importFrom(graphics, abline, axis, barplot, layout, legend,
           matplot, par, points, text, image, title)
importFrom(stats, cor, cov, density, rnorm, var, predict, sd)
importFrom(utils, head, read.csv)
importFrom(shiny,fluidPage,navbarPage,tabPanel,titlePanel,
           sidebarLayout,sidebarPanel,h2,fileInput,actionButton,
           icon,tags,h3,textInput,numericInput,tableOutput,
           mainPanel,tabsetPanel,checkboxInput,radioButtons,
           textOutput,selectInput,plotOutput,verbatimTextOutput,br,
           reactive,eventReactive,safeError,renderText,renderTable,
           updateSelectInput,renderPlot,req,renderPrint,shinyApp)
exportPattern("^[[:alpha:]]+")
